* {
	font-family: 'Roboto', sans-serif;
}
ul {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
	margin-bottom: 2px;
}

a{
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}



/*Top Bar Style*/
.top-bar {
	background-color: #000;
	padding: 7px 0px;
}

.top-bar .contact-info {
	color: #FFF;
}
.top-bar .contact-info  ul li {
	display: inline-block;
	font-size: 13px;
	margin-right: 100px;
}

.top-bar .contact-info  ul li i {
	color: #04dbc0;
}

.top-bar .social-menu ul {
	text-align: right;
}

.top-bar .social-menu ul li {
	display: inline-block;
}
.top-bar .social-menu ul li a {
	color: #FFF;
	font-size: 13px;
	display: inline-block;
	margin:0px 5px;
	transition: .3s;
}

.top-bar .social-menu ul li a:hover {
	color: #5856D6;
}

/*Home Page Banner */
.home-banner {
	height: 100vh;
	width: 100%;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	background-position: center center;
}

.home-banner .header {
	background-color: rgba(0, 0, 0, .5);
	padding: 15px;
}

.home-banner .header .logo a img {
	width: 170px;
}

.home-banner .header .main-menu ul {
	text-align: right;
}

.home-banner .header .main-menu ul li {
	display: inline-block;
}

.home-banner .header .main-menu ul li a {
	color: #FFF;
	font-size: 13px;
	display: inline-block;
	padding: 10px;
	font-family: 'Poppins', sans-serif;
}